@media print {
    body * {
        visibility: hidden;
    }
    #print-area, #print-area * {
        visibility: visible;
    }
    #print-area {
        position: absolute;
        left: 0;
        top: 0;
        width: 21cm; /* A4 width */
        height: 29.7cm; /* A4 height */
        padding: 0; /* Remove padding */
        margin: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .print-page {
        display: flex;
        flex-wrap: wrap;
        page-break-after: always;
        width: 21cm; /* A4 width */
        height: 29.7cm; /* A4 height */
        padding: 0.1cm; /* Minimum padding */
        box-sizing: border-box;
    }

    .print-card {
        width: 5.8cm; /* TCG card width */
        height: 8.3cm; /* TCG card height */
        margin: 0.05cm; /* Reduced margin for 0.1cm total spacing */
        box-sizing: border-box;
        border: 0.25cm solid #000; /* Ensuring border is printed */
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        page-break-inside: avoid;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0; /* No padding inside the card */
    }

    .print-card * {
        background: none;
        z-index: 2;
    }

    .print-card .custo-container {
        position: absolute;
        font-size: 18px;
        font-weight: bold;
        top: 0.02cm;
        left: 0.1cm;
        width:0.76cm;
        height: 0.76cm;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 1); /* Caixa semi-transparente */
        border-radius: 50%; /* Faz o container ser circular */
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra */
        z-index: 2; /* Adicionado z-index maior */
        
    }

    .print-card .titulo-subtitulo-container {
        position: absolute;
        font-size: 11px;
        top: 0.05cm;
        left: 0.5cm;
        right: 0cm;
        height: 0.71cm;
        text-align: left;
        padding: 0px 0.6cm;
        background-color: rgba(255, 255, 255, 0.75);
        z-index: 1;
    }
    .card .titulo {
       /* font-size: 4.5px;*/
        font-weight: bold;
        /*height: 11px;*/
    }

    .card .subtitulo {
        /*font-size: 4px;*/
        /*height: 9px;*/
    }

    .print-card .ilustracao {
        position: absolute;
        top: 0.8cm;
        left: 0cm;
        right: 0cm;
        height: 3.8cm;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .print-card .atributos {
        position: absolute;
        width: 0.8cm;
        height: 0.8cm;
        font-size: 10px;
        top: 2.5cm;
        right: 0cm;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        line-height: 2;
    }

    .atributo {
        width: auto; /* Permite que a largura se ajuste ao conteúdo */
        min-width: 0.7cm; /* Define a largura mínima */
        height: 0.7cmpx;
        margin-bottom: 2px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 8px; /* Tamanho da fonte do valor */
        font-weight: bold;
        color: black;
        text-align: right; /* Alinha o texto à direita */
        padding: 0 2px; /* Adicionado espaçamento entre o texto e a borda */
        background-color: rgba(217, 203, 128, 0.9);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra */
    }

    .atributo .simbolo {
        font-size: 6px; /* Tamanho do simbolo */
        margin-left: 2px; /* Adicionado espaçamento entre valor e símbolo */
    }
    
    .print-card .tipo {
        position: absolute;
        font-size: 12px;
        top: 4.4cm;
        left: 0.75cm;
        right: 0.75cm;
        font-weight: bold;
        text-align: center;
        padding: 2px 0px;
        background-color: rgba(255, 255, 255, 0.95);
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75); /* Sombra */
    }

    .print-card .texto-lore-container {
        position: absolute;
        /*font-size: 10px;*/
        top: 5cm;
        left: 0cm;
        right: 0cm;
        bottom: 0.5cm;
        background-color: rgba(255, 255, 255, 0.7); /* Caixa semi-transparente */
        padding: 5px 10px;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        z-index: 1; /* Z-index inferior ao do texto-lore-container */
    }

    .card .texto {
        font-size: 12px;
        text-align: justify;
        margin-bottom: 0.5cm; /* Espaço entre texto e lore */
    }

    .card .lore {
        font-size: 8px;
        font-style: italic;
        text-align: center;
    }
    
    .print-card .id-container {
        position: absolute;
        width: 0.5cm;
        font-size: 8px;
        bottom: 0.1cm;
        /*right: 0.1cm;*/
        left: 4.8cm;
        padding: 1px 4px;
        border-radius: 1px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra */
        text-align: right;
        font-weight: bold;
        color: black; /* Define a cor do texto como preto */
}
    .novo-container {
        position: absolute;
        top: 5cm; /* Ajuste conforme necessário para alinhar verticalmente */
        left: 50%;
        transform: translate(-50%, 0);
        width: 60px; /* Ajuste conforme necessário */
        height: 60px; /* Ajuste conforme necessário */
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1; /* Z-index inferior ao do texto-lore-container */
        opacity: 0.1; /* Ajuste a opacidade para o efeito de marca d'água */
    }

    .novo-container img {
        max-width: 80%;
        max-height: 80%;
    }

    .print-card .logo-container {
        position: absolute;
        bottom: 0.1cm;
        right: 0.1cm;
        width: 0.7cm;
        height: 0.7cm;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 3; /* Definindo um z-index alto para sobrepor o resto */
    }

    .print-card .novo-container {
        position: absolute;
        bottom: 1cm;
        left: 50%;
        transform: translateX(-50%);
    }
}
