@media print {
    body * {
        visibility: hidden;
    }
    #print-area, #print-area * {
        visibility: visible;
    }
    #print-area {
        position: absolute;
        left: 0;
        top: 0;
        width: 21cm; /* A4 width */
        height: 29.7cm; /* A4 height */
        padding: 0; /* Remove padding */
        margin: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .print-page {
        display: flex;
        flex-wrap: wrap;
        page-break-after: always;
        width: 21cm; /* A4 width */
        height: 29.7cm; /* A4 height */
        padding: 0.1cm; /* Minimum padding */
        box-sizing: border-box;
    }

    .print-card {
        width: 5.8cm; /* TCG card width */
        height: 8.3cm; /* TCG card height */
        margin: 0.05cm; /* Reduced margin for 0.1cm total spacing */
        box-sizing: border-box;
        border: 0.25cm solid #000; /* Ensuring border is printed */
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        page-break-inside: avoid;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0; /* No padding inside the card */
    }

    .print-card * {
        background: none;
        z-index: 2;
    }

    .print-card .custo-container {
        position: absolute;
        font-size: 14px;
        top: 0.1cm;
        left: 0.1cm;
    }

    .print-card .titulo-subtitulo-container {
        position: absolute;
        font-size: 10px;
        top: 0.1cm;
        left: 1cm;
        right: 0cm;
        height: 1.3cm;
        text-align: left;
        padding: 0px 1.3cm;
        background-color: rgba(255, 255, 255, 0.75);
        z-index: 1;
    }

    .print-card .ilustracao {
        position: absolute;
        top: 2cm;
        left: 0cm;
        right: 0cm;
        height: 3.8cm;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .print-card .atributos {
        position: absolute;
        width: 0.8cm;
        height: 0.8cm;
        font-size: 10px;
        top: 2.5cm;
        /*left: 0.5cm;*/
        right: 0.5cm;
    }

    .print-card .tipo {
        position: absolute;
        font-size: 10px;
        top: 3.5cm;
        left: 0.5cm;
        right: 0.5cm;
    }

    .print-card .texto-lore-container {
        position: absolute;
        font-size: 10px;
        top: 5cm;
        left: 0cm;
        right: 0cm;
        bottom: 0.5cm;
    }

    .print-card .id-container {
        position: absolute;
        font-size: 6px;
        bottom: 0.1cm;
        right: 0.1cm;
    }

    .print-card .logo-container {
        position: absolute;
        bottom: 0.1cm;
        right: 0.25cm;
    }

    .print-card .novo-container {
        position: absolute;
        bottom: 1cm;
        left: 50%;
        transform: translateX(-50%);
    }
}
