body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#filter-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: white;
    border-right: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: transform 0.3s ease;
    width: 200px;
    transform: translateX(-200px);
}

#filter-sidebar.open {
    transform: translateX(0);
}

#toggle-filter {
    position: absolute;
    top: 10px;
    left: 200px;
    background: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 5px 10px;
    z-index: 1001;
}

#filter-container {
    padding: 10px;
}

#filter-container h3, #filter-container h4 {
    margin: 10px 0;
}

#filter-container input[type="checkbox"] {
    margin-right: 10px;
}

#filter-container label {
    font-size: 0.9em;
}

#filter-container select {
    width: 100%;
    font-size: 0.9em;
    margin-bottom: 10px;
}

#filter-container button {
    width: 100%;
    font-size: 0.9em;
    padding: 10px;
}

#top-container {
    display: flex;
    height: 70%;
    margin-left: 10px; /* Ajustado para o botão */
}

#card-preview {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: none; /* Esconde o container */
}

#card-list {
    flex: 4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
    padding: 10px;
}

#deck-container {
    display: flex;
    flex-wrap: wrap; /* Permitir que o container cresça para adicionar novas filas */
    align-items: flex-start;
    height: 30%;
    background-color: #f0f0f0;
    padding: 10px;
    overflow-y: auto; /* Permitir rolagem vertical */
    position: relative;
}

.card {
    width: 137px;
    height: 200px;
    border: 5px solid #000;
    margin: 10px;
    position: relative;
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.titulo-subtitulo-container {
    position: absolute;
    top: 1px;
    left: 10px;
    right: 0px;
    height: 18px;
    text-align: left;
    padding: 0px 15px;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 1;
}

.card .titulo {
    font-size: 8px;
    font-weight: bold;
    height: 11px;
}

.card .subtitulo {
    font-size: 6px;
    height: 9px;
}

.custo-container {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1); /* Caixa semi-transparente */
    border-radius: 50%; /* Faz o container ser circular */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra */
    z-index: 2; /* Adicionado z-index maior */
}

.card .custo {
    font-size: 12px;
    font-weight: bold;
}

.card .ilustracao {
    position: absolute;
    top: 21px; /* Topo da ilustração */
    left: 0px;
    width: 100%;
    height: 90px; 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}

.card .atributos {
    position: absolute;
    top: 34px;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 2;
}

.atributo {
    width: auto; /* Permite que a largura se ajuste ao conteúdo */
    min-width: 15px; /* Define a largura mínima */
    height: 18px;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 8px; /* Tamanho da fonte do valor */
    font-weight: bold;
    color: black;
    text-align: right; /* Alinha o texto à direita */
    padding: 0 2px; /* Adicionado espaçamento entre o texto e a borda */
    background-color: rgba(217, 203, 128, 0.9);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra */
}

.atributo .simbolo {
    font-size: 6px; /* Tamanho do simbolo */
    margin-left: 2px; /* Adicionado espaçamento entre valor e símbolo */
}

.card .tipo {
    position: absolute;
    top: 105px;
    left: 15px;
    right: 15px;
    font-size: 8px;
    font-weight: bold;
    text-align: center;
    padding: 2px 0px;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75); /* Sombra */
}

.card .texto-lore-container {
    position: relative; /* Alterado para permitir o uso de um pseudo-elemento */
    top: 125px;
    left: 0px;
    right: 0px;
    bottom: 12px;
    background-color: rgba(255, 255, 255, 0.7); /* Caixa semi-transparente */
    padding: 5px 10px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Adicionado para centralizar o conteúdo */
}

.card .texto-lore-container::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px; /* Tamanho do símbolo, ajuste conforme necessário */
    height: 80px; /* Tamanho do símbolo, ajuste conforme necessário */
    background-image: url('images/${data[3].trim()}logo.png'); /* Caminho do logotipo */
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.2;
    transform: translate(-50%, -50%);
    z-index: 1; /* Coloque o z-index atrás do texto */
}

.card .texto {
    font-size: 9px;
    text-align: justify;
    margin-bottom: 5px; /* Espaço entre texto e lore */
    z-index: 2; /* Adicionado z-index para sobrepor o símbolo */
}

.card .lore {
    font-size: 5px;
    font-style: italic;
    text-align: center;
    z-index: 2; /* Adicionado z-index para sobrepor o símbolo */
}

.card .id-container {
    position: absolute;
    bottom: 1px;
    right: 1px;
    left: 120px;
    padding: 1px 4px;
    border-radius: 1px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra */
}

.card .id {
    font-size: 5px;
    text-align: right;
    font-weight: bold;
    color: black; /* Define a cor do texto como preto */
}

.logo-container {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3; /* Definindo um z-index alto para sobrepor o resto */
}

.logo-container img {
    max-width: 100%;
    max-height: 100%;
}

.card .count {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    font-size: 28px; /* Dobro do tamanho original */
    font-weight: bold;
    border-radius: 50%;
    width: 48px; /* Dobro do tamanho original */
    height: 48px; /* Dobro do tamanho original */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.popup-card {
    position: absolute;
    transform: scale(2);
    z-index: 1000;
    pointer-events: none;
}
